.grid {
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
}
.heading{
    text-align: center;
    margin: 10px 0 10px 0;
}
.formControl {
    width: 90%;
}
.select {
    width: 100% !important;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
}