.grid {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px !important;
}
.heading{
    text-align: center;
    margin: 10px 0 20px 0 !important;
}
.formControl {
    width: 90%;
}
.select {
    width: 100% !important;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
}